:root {
    --accent-color: #cba6f7;
    --base-color: #1e1e2e;
    --subtext-color: #a6adc8;
    --text-color: #cdd6f4;

    --overlay-color: rgba(205, 214, 244, 0.5)
}

html {
    max-width: 800px;
    margin: 0 auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--text-color);
    background-color: var(--base-color);
}

h2 {
    margin-top: 2rem;
}

blockquote {
    margin-left: 0.25rem;
    padding-left: 1rem;
    border-left: var(--overlay-color) solid 2px;
}

ul > li {
    margin-left: -1.5rem;
}
li img {
    width: 1rem;
}

details {
    margin: 0.5rem 0;

    font-size: 0.9rem;

    display: inline-block;
    cursor: pointer;
}

summary {
    margin: 0.2em 0;

    font-size: 1.1rem;
    font-weight: 600;
}

a {
    color: var(--accent-color);
    cursor: pointer;
}

.assets-flex {
    display: flex;
    overflow: scroll;
    column-gap: 1%;
}

.assets-flex img {
    height: 12rem;
}

.flex {
    display: flex;
}

.links-container {
    flex: 0 1 50%;
}

span {
    color: var(--subtext-color);

    font-size: 0.5rem;
    font-style: italic;
}

ul {
    line-height: 1.5rem;
}