:root {
    /* Colors from: https://catppuccin.com/palette/#Mocha */

    /* mauve */
    --accent-color: #cba6f7;
    /* base */
    --base-color: #1e1e2e;
    /* mantle */
    --code-color: #181825;
    /* subtext 0 */
    --subtext-color: #a6adc8;
    /* text */
    --text-color: rgb(205, 214, 244);

    /* text color with transparency */
    --overlay-color: rgba(205, 214, 244, 0.75)
}

html {
    max-width: 800px;
    margin: 0 auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--text-color);
    background-color: var(--base-color);
}

code {
    padding: 0.33em;

    font-family: monospace;

    background-color: var(--code-color);
    border-radius: 0.2em;
}

h1 > a {
    color: var(--text-color);
    text-decoration: none;
}
h1 > a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

h2 {
    margin-top: 2rem;
}

blockquote {
    margin-left: 0.25rem;
    padding-left: 1rem;
    border-left: var(--overlay-color) solid 2px;
}

li {
    margin-left: -1.5em;
}

blockquote li.nested {
    margin-left: -3.25em;
}

details {
    max-width: 100%;
    margin: 0.5rem 0;

    font-size: 0.9rem;

    display: inline-block;
    cursor: pointer;
}

summary {
    margin: 0.2em 0;

    font-size: 1.1rem;
    font-weight: 600;
}

a {
    color: var(--accent-color);
    cursor: pointer;
}

.assets {
    padding-bottom: 1rem;
    overflow: scroll;

    display: flex;
    column-gap: 1%;
}

.assets img {
    height: 12rem;
}

.assets p {
    max-width: 95%;
    margin: 0 auto;

    text-align: center;
    /* text-align: justify;
    text-align-last: center; */

    color: var(--subtext-color);

    font-size: 0.7rem;
    font-style: italic;
}

.assets .item:nth-of-type(2), .assets .item:nth-of-type(3) {
    text-decoration: line-through solid var(--subtext-color);
}

section:nth-of-type(2) div.flex {
    display: flex;
    flex-direction: row;
}

.links-container {
    flex: 0 1 50%;
}

span {
    color: var(--subtext-color);

    font-size: 0.5rem;
    font-style: italic;
}

ul,
ol {
    line-height: 1.5rem;
}

@media (max-width: 600px) {
    html {
        font-size: 0.8em;
    }

    blockquote li {
        margin-left: -3em;
    }

    li.nested {
        margin-left: -5.5em;
    }

    section:nth-of-type(2) div.flex {
        flex-direction: column;
    }
}